[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "phenex"]
	path = phenex
	url = https://github.com/cran/phenex
	shallow = true
	registered = true
